[D-BUS Service]
Name=com.example.ReceiveDeniedByAppArmorLabel
Exec=/bin/false ReceiveDeniedByAppArmorLabel
SystemdService=dbus-com.example.ReceiveDeniedByAppArmorLabel.service
AssumedAppArmorLabel=/home/chen/work/bluez/install/dbus/test/test-apparmor-activation//com.example.ReceiveDeniedByAppArmorLabel
